.slicknav_menu{
	position: relative;
  max-width: 1530px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2.5%;
  padding-right: 2.5%;
  min-height: 263px;
	background: transparent;
}

.slicknav_nav{
	display: block;
	position: absolute;
	z-index: 200;
	padding-top: 3.15em;
}

.slicknav_btn{
    position: absolute;
    right: 2.5%;
    z-index: 100;
    bottom: -1%;
}

.mobile-navigation{
	display: none;
}

.main-navigation{
	position: absolute;
	right: 0;
	bottom: 0;
		.menu{
			display: none;
		}
}

#main-navigation-location{
  min-height: 390px;
  position: absolute;
  width: 100%;
	z-index: 75;
}



.main-navigation{
	ul li{
		float: left;
		width: 16.6667%;
		text-align: center;
		line-height: 1rem;
		padding-top: 4.5%;
		padding-bottom: 2.65%;
		height: 3.5rem;
		&:hover{
			cursor: pointer;
		}
		&:hover a{
		 border-bottom: 1px solid rgba(237, 29, 126, 1);
		 color: rgba(237, 29, 126,1);
	 }
		a{
			-webkit-transition: all .25s ease-in-out;
		-moz-transition: all .25s ease-in-out;
		-ms-transition: all .25s ease-in-out;
		-o-transition: all .25s ease-in-out;
		border-bottom: 1px solid rgba(237, 29, 126, 0);

		}

		&:last-child{
			background: #ccc;
			&:hover{
				opacity: .85;
				a{
					text-decoration: none !important;
					border-bottom: 1px solid rgba(237, 29, 126, 0) !important;
				}
			}
		}
	}
	.current_page_item a{
	}
}

@media (max-width: 930px){
}

@media (max-width: 1140px){
  .slicknav_nav{
    position: relative;
    z-index: 50;
  }
  .slicknav_nav li{
    padding-right: 15%;
    padding-left: 1%;
  }
  .main-navigation ul li a, .slicknav_menu ul li a{
    font-size: 3em;
  }
	.slicknav_menu .slicknav_btn{
		top: 3.6em;
	}
}

@media (max-width: 675px){
  .main-navigation ul li a, .slicknav_menu ul li a{
    font-size: 2em;
  }
	.slicknav_menu{
		width: 100%;
	}
  .slicknav_nav{
    background: $c-real-black;
		width: 100%;
  }
	.slicknav_menu .slicknav_btn{
		top: 2.86em;
	}
	.slicknav_btn{
		right: 3.5%;
	}
}

@media (max-width: 500px){
	.slicknav_menu{
		.slicknav_icon{
			width: 2.43em;
			span:nth-child(2){
				top: 1px;
			}
			span:nth-child(3){
				top: 12px;
			}
		}
		.slicknav_icon.open span:nth-child(1){
			top: 14px;
		}
		.slicknav_icon.open span:nth-child(3){
			top: 6px;
		}
		.slicknav_icon-bar{
			height: .3em;

		}

	}
}
