#primary{
	position: relative;
	z-index: 50;
}

.blurred{
	-webkit-filter: blur(5px); /* Chrome, Safari, Opera */
    filter: blur(5px);
}

.hidden{
	visibility: hidden;
}

.jump-link{
  position: relative;
  bottom: 75px;
}


.main-image {
	position: relative;
	z-index: 7;
	img{
		width: 100%;
	}
}

.site-branding{
	width: 100%;
	position: absolute;
	z-index: 10;
	top: -2%;
	h1{
		width: 31.914%;
		margin: 0 auto;
    min-width: 160px;
	}
}

@media (max-width: 500px){
  .site-branding h1{
    margin-left: 9%;
  }
}

@media (max-width: 1140px){
	.site-branding{
		top: 0;
	}
}
