// Theme Information
//--------------------------------------------//
$theme_name: "Charm City Coffee Roasters";
$theme_uri: "#";
$theme_description: "Default theme for CCCR";
$theme_version: "1.0";
$theme_author: "Derek Hargest";
$theme_author_uri: "http://www.derekhargest.com";
$theme_license: "GPL";
$theme_tags: "responsive-layout, post-formats";

$roboto: 'Roboto', sans-serif;
$roboto-slab: 'Roboto Slab', serif;

$c-real-black: #000006;
$c-white: #fff;

$c-text-color: $c-white;
$c-active-page: $c-real-black;
