section.locations{
	background: url('images/angled-top-white.png') no-repeat;
	background-color: $c-real-black;
	background-size: contain;
	position: relative;
	padding-top: 17em;
  z-index: 10;
	.locations-list{
		@include container(1230px);
	}
	.location_item{
		@include span(3 of 9);
		margin-top: 5em;
		.community{
			font-size: 1.25em;
		}
		img{
			margin: 0 auto;
			opacity: 0.75;
		}
		p{
			text-align: center;
		}
		.location-link{
		  text-decoration: none;
			&:hover{
				transition: all 200ms ease;
				text-decoration: underline;
			}
		}
	}
	.location_item:nth-child(3){
			@include span(3 of 9 last);
	}
}

section.locations .location_item p.community{
	font-size: 1.25em;
}


@media (max-width: 780px){
  section.locations{
    h3{
      text-align: center;
    }
  }
}

@media (max-width: 500px){
  section.locations{
    .location_item{
      width: 100%;
      margin-right: 0;
      img{
        margin-bottom: 1.5em;
      }
      p{
        font-size: 2em;
      }
    }
    .location_item:nth-child(3){
      width: 100%;
      margin-right: 0;
    }
  }
}
